ip: 10.10.10.10
memory: 512
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: ~/Git/emilyraisin.com
        to: /home/vagrant/code
sites:
    -
        map: em.test
        to: /home/vagrant/code/public
databases:
    - emilyraisin
name: emilyraisin-com
hostname: emilyraisin-com
