.blog-post-title a {
    color: $black;
}
// Emphasise titles

.blog-post,
.editor-preview,
.editor-preview-side {
    blockquote {
        margin: 2rem 3rem;
        font-size: 1.125rem;
        font-style: italic;
        color: $grey;
    }
    // Default bootstrap styling isn't enough

    img {
        width: 100%;
    }
    // Restrict images
}

@include media-breakpoint-up(sm) {
    .title-container {
        min-height: 400px;
    }
}
// Fix for title being clipped into nav fade

.btn-outline-info {
    &:hover,
    &:focus,
    &:active {
        color: #FFF;
    }
}
// Fix button hover for info outline being black
