a,
.btn-link-muted {
    color: $theme-accent;
    &:hover {
        color: $theme-secondary;
    }
}
// Link style, tone it down!

.img-thumbnail {
    background-color: $white;
}
// Set background colour for image to pure white

.alert.alert-flash {
    position: fixed;
    top: $border-offset;
    right: $border-offset;
    animation: alert-flash 3s forwards;
    z-index: 99;
}
@keyframes alert-flash {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
// Flash message styling
