.navbar {
    padding: $border-offset;
    background-color: $white;
    box-shadow: 0px 20px 20px $white;
    z-index: 5;

    .navbar-brand {
        color: $theme-accent;

        &:hover {
            color: $theme-secondary;
            text-decoration: none;
        }
    }

    .navbar-toggler {
        border: 0;
    }

    button.nav-link {
        border: 0;
        background-color: inherit;
    }
}
